.greetingMsg {
   font-family: 'Open Sans', sans-serif;
    
  }

  .typeWriter {
    color: #524127;
    font-weight: bold;
    font-family: monospace;
    border-right: .15em solid black;
    overflow: hidden; 
    white-space: nowrap;
    letter-spacing: .15em;
    animation: 
    typing 4s steps(20, end) infinite alternate,
    m 12s steps(3) infinite,
    blink-caret .75s linear  infinite 
  }

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
 
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: rgb(231, 242, 189); }
  }

.small {
  color: #524127;
  font-weight: bold;
  font-family: monospace;   
  letter-spacing: .15em;
  overflow: hidden; 
  white-space: nowrap;
  
}