.pagesBackground{
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
 background-image: -webkit-image-set(url("/public/Images/background-small.jpg") 1x, url("/public/Images/background-large.jpg") 2x);
    background-image: image-set("/public/Images/background-small.jpg" 1x, "/public/Images/background-large.jpg" 2x); 

/* 
    background-image: 
    -webkit-image-set(
    url("/public/Images/background-small.jpg") 1x,
    url("/public/Images/background-large.jpg") 2x);
    background-image:  image-set(    
      url("/public/Images/background-small.jpg") 1x
      url("/public/Images/background-large.jpg") 2x); */
}


.down {
    cursor: pointer;
    align-self: center;
  }